.service-title {
  font-family: "Raleway", sans-serif;
  color: orange;
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
}

.service-describe {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 22px;
}
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 180px;
  grid-column-gap: 170px;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 300px;
}
.why-choosing-us img {
  height: 60px;
  margin-left: 900px;
}
.why-choosing-us h1 {
  font-family: "Raleway", sans-serif;
  color: royalblue;
}
.why-choosing-us p {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}
@media only screen and (max-width: 644px) {
  .why-choosing-us img {
    height: 60px;
    margin-left: 130px;
  }
  .service-title {
    font-family: "Raleway", sans-serif;
    color: orange;
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
  }
  .main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .why-choosing-us img {
    height: 60px;
  }
}
