:root {
  --primary: #eebf00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

footer.copyright {
  padding: 1rem 0;
  background: var(--secondary);
  color: var(--pure);
  text-align: center;
  font-size: 0.75rem;
}
/* footer.copyright a {
  color: var(--primary);
  text-decoration: none;
} */

.copyright {
  /* margin-top: 100px; */
  text-align: center;
  padding: 1rem 0;
  background: var(--secondary);
  color: var(--pure);
  text-align: center;
  font-size: 20px;
  height: 80px;
}
@media only screen and (max-width: 644px) {
  .copyright {
    text-align: center;
    padding: 1rem 0;
    background: var(--secondary);
    color: var(--pure);
    text-align: center;
    font-size: 20px;
    height: 80px;
    width: 100%;
  }
}
